pymysql
appdirs 
asgiref 
black 
click 
cryptography
colorama 
Django 
qrcode[pil]
django-widget-tweaks 
flake8 
isort 
mccabe 
mypy-extensions 
pathspec 
Pillow 
pycodestyle 
pyflakes 
pytz 
regex 
sqlparse 
tomli 
pymongo
plotly
pandas
gunicorn
