{% extends 'base.html' %}
{% load static %}

{% block content-header %}
<div class="card-header">
  <div class="card-tools">
    <a href="{% url 'booklog' object.id %}"><input type="button" class="btn btn-sm btn-primary" value="Book"></a>
    <a href="{% url 'examlog' object.id %}"><input type="button" class="btn btn-sm btn-primary" value="Exam"></a>
    <a href="{% url 'certificatelog' object.id %}"><input type="button" class="btn btn-sm btn-primary" value="Certificate"></a>
    <a href="{% url 'generate_student_id_card' object.id %}" class="btn btn-tool">Print</a>
    <a href="{% url 'student-update' object.id %}" class="btn btn-tool">
      <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'student-delete' object.id %}" class="btn btn-tool">
      <i class="fas fa-trash"></i>
    </a>
  </div>
</div>
{% endblock content-header %}

{% block content %}
    <div class="row mb-4">
      <div class="col-sm-4">
        <div class="row mb-2">

          {% if object.passport %}
            <img
              src="{{ object.passport.url }}"
              class="float-left rounded-circle mr-3" style="width: 120px; height: 120px;">
          {% else %}
            <img
              src="{% static 'dist/img/avatar.png' %}"
              class="float-left rounded-circle mr-3" style="width: 120px; height: 120px;">
          {% endif %}


          <div class="float-right">
            <h4>{{ object.student_name }} </h4>
            <h4>{{ object.enrol_no }} </h4>
          </div>
          
        </div>
        <h5><a href="{% url 'details_course' object.course.id%}">{{ object.course }}</a> </h5>
        <h5>{{ object.get_gender_display }} | {{ object.get_current_status_display }}</h5>

      </div>
      <div class="col-sm-8">
        <div>
          <div class="form-group border-bottom row">
            <label class="col">
              Username
            </label>
            <div class="col">
              {{ object.username }}
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
              Password
            </label>
            <div class="col">
              {{ object.password }}
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
              Date of Admission
            </label>
            <div class="col">
              {{ object.date_of_admission }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
               Mobile Number
            </label>
            <div class="col">
              {{ object.mobile_number}}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Student View Link
            </label>
            <div class="col">
              <a href="{%  url 'public_student_profile'  object.id %}"><input type="button" class="btn btn-sm btn-primary" value="Link"></a>
              <a href="{% url 'generate_student_id_card' object.id %}"><input type="button" class="btn btn-sm btn-primary" value="ID card"></a>
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
              Class Timinig
            </label>
            <div class="col">
              <ul style="margin-left: -30px;">
              {% for time in object.class_time.all %}
                  <li>{{ time.time }}</li>
              {% endfor %}
              </ul>
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
              Address
            </label>
            <div class="col">
              {{ object.address }}<br>
              {{ object.address1 }}<br>
              {{ object.address2 }}
            </div>
          </div>

        </div>

      </div>
    </div>
    <h4>Book Issuesed Details</h4>
    {% if booklog %}
      <table class="table table-sm table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>Date</th>
            <th>Recivied Book</th>
            <th>Handel By</th>
            <th>Remark</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for book in booklog %}
            <tr>
              <td>{{book.received_date}} </td>
              <td>{{book.received_book}}</td>
              <td>{{book.handled_by}}</td>
              <td>{{book.remark}}</td>
              <td><a href="{% url 'book-delete' book.id%}"><input type="button" class="btn btn-sm btn-primary" value="Delete"></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p>There are no booklog history for {{object}}</p>
    {% endif %}


{% comment %} ---------------------------------------------------------------------------- {% endcomment %}

<h4>Class Details</h4>
{% if classlog %}
  <table class="table table-sm table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>Subject</th>
        <th>Class started on</th>
        <th>calss Ended on</th>
        <th>Class time</th>
        <th>Faculty</th>
        <th>Remark</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for class in classlog %}
        <tr>
          <td>{{class.finised_subject}} </td>
          <td>{{class.start_date}}</td>
          <td>{{class.end_date}}</td>
          <td>{{class.class_time.time}}</td>
          <td>{{class.faculty}}<td>
          {{class.remark}}
          <td><a href="{% url 'class-delete' class.id%}"><input type="button" class="btn btn-sm btn-primary" value="Delete"></a></td>
                
            </tr>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
    <p>There are no class history for {{object}}</p>
{% endif %}
    {% comment %} ---------------------------------------------------------------------------- {% endcomment %}

    <h4>Exam Details</h4>
    {% if examlog %}
      <table class="table table-sm table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>Subject</th>
            <th>Contected on</th>
            <th>Contected Mode</th>
            <th>Theory mark</th>
            <th>Paratical mark</th>
            <th>
              Total mark</th>
              <th>Remark</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for exam in examlog %}
            <tr>
              <td>{{exam.subject}} </td>
              <td>{{exam.exam_date}}</td>
              <td>{{exam.contected_mode}}</td>
              <td>{{exam.theory_mark}}</td>
              <td>{{exam.paratical_mark}}</td>
              <td>{{exam.mark}}<td>
                {{exam.remark}}
                <td><a href="{% url 'exam-delete' exam.id%}"><input type="button" class="btn btn-sm btn-primary" value="Delete"></a></td>
                
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p>There are no Exam history for {{object}}</p>
    {% endif %}
    {% comment %} ---------------------------------------------------------------------------- {% endcomment %}

    <h4>Certificate Details</h4>
    {% if certilog %}
      <table class="table table-sm table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>Course</th>
            <th>Date of Completion</th>
            <th>Certificate Number</th>
            <th>Certificate Date</th>
            <th>Certificate Issued Date</th>
            <th>
              Grade on Certificate</th>
              <th>Certificate Issued By</th>
              <th>Remark</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for log in certilog %}
            <tr>
              <td>{{log.course}} </td>
              <td>{{log.date_of_complete}}</td>
              <td>{{log.certificate_no}}</td>
              <td>{{log.certificate_date}}</td>
              <td>{{log.certificate_issued_date}}</td>
              <td>{{log.grade}}<td>
                {{log.issued_by}}
                
                <td>{{log.remark}}<td><a href="{% url 'certificate-delete' log.id%}"><input type="button" class="btn btn-sm btn-primary" value="Delete"></a></td>
              </td></tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p>There are no Certificate issued for {{object}}</p>
    {% endif %}
    
      
{% comment %} ---------------------------------------------------------------------------- {% endcomment %}
    <h4>Payment History</h4>
    {% if payments %}
      <table class="table table-sm table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>Amount Payable</th>
            <th>Amount Paid</th>
            <th>balance</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in payments %}
            <tr class='clickable-row' data-href="{% url 'invoice-detail' payment.id %}">
              <td>{{payment.total_amount_payable}}</td>
              <td>{{payment.total_amount_paid}}</td>
              <td>{{payment.balance}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p>There are no payment history for {{object}}</p>
    {% endif %}




{% endblock content %}
