<!-- templates/bill_form.html -->
{% extends 'base.html' %}

{% block title %}Edit Bill{% endblock %}

{% block content %}
<div class="card mt-5">
    <div class="card-header">
        <h2 class="card-title">Edit Bill</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'bill-detail' %}" class="btn btn-secondary">Back to Bill Detail</a>
        </form>
    </div>
</div>
{% endblock %}
