{% extends 'base.html' %}


{% block content  %}
<h3>Add Exam</h3>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
{% for field in form %}
<div class="form-group row">
  <label class="col-sm-3 col-form-label" for="{{ field.auto_id }}">
    {{ field.label }}
    {% for error in field.errors %}
      <small id="{{ field.auto_id }}" class="text-danger">{{ error }}</small>
    {% endfor %}
  </label>
  <div class="col-sm-9">
    {{ field}}
    {% if field.help_text %}
    <small>{{ field.help_text|safe }}</small>
    {% endif %}
  </div>
</div>
{% endfor %}
<input type="submit" class="btn btn-primary" value="Add">
</form>
{% endblock content%}